<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>Add User</title>
</head>
<body>
    <div class="section">
        <div class="container header">
            <a href="/users">Home</a>
        </div>
        <div class="container form">
            <h3>Add a User</h3>
            <form action="/users/create" method="POST">
                <div class="row">
                    <div class="form-input">
                        <label for="fname">First Name: </label>
                        <input class="u-full-width" type="text" name="fname" id="fname">
                    </div>
                </div>
                <div class="row">
                    <div class="form-input">
                        <label for="lname">Last Name: </label>
                        <input class="u-full-width" type="text" name="lname" id="lname">
                    </div>
                </div>
                <div class="row">
                    <div class="form-input">
                        <label for="email">Email: </label>
                        <input class="u-full-width" type="text" name="email" id="email">
                    </div>
                </div>
                <input class="button-primary" type="submit" value="Add User">
            </form>
        </div>
    </div>
</body>

</html>